#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cta {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 0.67rem;
    font-size: 1.2em;
    margin-block: 2rem;
    font-weight: bold;
    color: rgb(41, 156, 85);
}
.cta > a {
    color: #fff;
    background-color: rgb(41, 156, 85);
    border-radius: 0.67rem;
    margin-inline: 0.5rem;
    padding-inline: 1.2rem;
}