#contact-form {
  position: relative;
  padding: 1rem;
  margin-inline: auto;
  background-color: rgba(255, 255, 255, 255);
  text-align: left;
  z-index: 1;
}

#contact-form>div {
  margin-block: 1rem;
  margin-inline: auto;
}

#contact-form>div>input,
textarea {
  font: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0.5rem 0 0;
  padding: 0.25rem;
  border: none;
  border-radius: 0.5ex;
  box-shadow: 0 0 5px black;
  width: 100%;
}

#contact-form>div>textarea {
  resize: vertical;
  width: 100%;
  min-height: 4rem;
  overflow: hidden;
}

#contact-form>button {
  display: block;
  margin-inline: auto;
  padding: 0.5rem 1rem;
  background: rgb(41, 156, 85);
  color: white;
  border: none;
  border-radius: 0.67rem;
  font-size: inherit;
  font-weight: bold;
}

#success,
#fail {
  color: rgb(41, 156, 85);
  font-style: italic;
  font-weight: light;
  text-align: center;
}

#fail {
  color: rgb(156, 41, 41);
}

@media screen and (min-width: 768px) {
  #contact-form>div {
    margin-inline: 0;
  }

  #contact-form>div>input,
  textarea {
    width: 100%;
  }
}

@media screen and (min-width: 992px) {
  #contact-form {
    max-width: 720px;
  }
}

@media screen and (min-width: 1370px) {
  #contact-form {
    max-width: 1000px;
  }
}

@media screen and (min-width: 2000px) {
  #contact-form {
    max-width: 1200px;
  }
}