nav {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #202020;
}

.nav-items {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  font-size: 0.67rem;
  width: 100%;
}

@media screen and (min-width: 1000px) {
  nav {
    margin-inline: auto;
  }
  .nav-items {
    max-width: 1000px;
  }
}
