nav {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
    max-width: 1300px;
    text-transform: uppercase;
    z-index: 1;
}

@media screen and (min-width: 1300px) {
    nav {
        margin-inline: auto;
    }
}