#projects {
    margin-block: 2rem;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.25rem;
    font-size: 1.25rem;
    padding-bottom: 2rem;
    max-width: 1200px;
}

@media screen and (min-width: 1200px) {
    .projects-list {
        margin-inline: auto;
    }
}

.projects-list>button {
    color: inherit;
    font-size: 1rem;
    padding: 0.67rem;
    border: #ffffff solid 0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    transition: all 100ms ease-in-out;
    min-width: 10rem;
    min-height: 5rem;
    cursor: pointer;
}

.projects-list>button:hover {
    font-weight: bold;
    transform: scale(1.1);
    z-index: 1;
}

.projects-list>button:active {
    transform: scale(0.9);
}

.modal-bg {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: black;
}

.modal-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 1.25rem;
    border-radius: 1em;
    text-align: center;
}

@media screen and (max-width: 900px) {
    .modal-wrapper {
        box-sizing: border-box;
        width: 95%;
    }
}