#projects {
    margin-block: 2rem;
}

.projects-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.67rem;
    font-size: 1.25rem;
    padding-bottom: 2rem;
    max-width: 1200px;
}

@media screen and (min-width: 1200px) {
    .projects-list {
        margin-inline: auto;
    }
}

.projects-list>button {
    color: inherit;
    font-size: 1rem;
    padding: 0.67rem;
    border: #ffffff solid 0.25rem;
    border-radius: 0.5rem;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    transition: all 100ms ease-in-out;
}

.projects-list>button:hover {
    font-weight: bold;
    transform: scale(1.1);
    z-index: 1;
}

.projects-list>button:active {
    transform: scale(0.9);
}